<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/trix.css">
    <link rel="stylesheet" href="/css/app.css">
     <link rel="stylesheet" href="/css/home/home.css">
     <link rel="stylesheet" href="/css/home/usuario.css">
    <title>{{nombrePagina}}</title>

</head>

<body>



    {{#if authenticacion}}
    <div class="container">
        <h2>
            <span class="orange">My</span>
            <span class="blue">Company</span>
        </h2>
        <div class="flex justify-center">
            <div class="neumorphism">
                <a href="/iniciar-sesion" class="csslogin">Iniciar Sesion</a>
                <a href="/crear-cuenta" class="csscreate">Crear Cuenta</a>
            </div>
        </div>
    </div>
    <div class="footer">Hecho por Jose Chirinos <a href="https://github.com/josechirinos11">Contactame en GitHub</a>
    </div>
    {{else}}
    <!-- Contenido principal -->
    
        {{{body}}}
   
    {{/if}}

    <!-- Opciones de usuario -->
</body>


</html>