<div class="containerPagina">
    <div class="cabecera">Cabecera</div>
    <div class="contenidoUsuario">
        <div class="menu">Menú</div>
        <div class="cuerpo">Cuerpo</div>
    </div>
</div>
