<div class="container">
    <h2>
        <span class="orange">Iniciariniciar</span>
        <span class="blue">Sesionsesion</span>
    </h2>
    <div class="contenedorhome ">

        <form action="/iniciar-cuenta" method="POST" class="default-form">

            <div >

                <input type="email" name="email" placeholder="Tu E-Mail" class="containerInput">
            </div>
            <div >

                <input type="password" name="password" placeholder="Tu Password" class="containerInput">
            </div>
            <div class="botones">
                <div class="custom-button">
                    <a href="/">Atras</a>
                </div>

                <div class="custom-button">
                    <input type="submit" value="Iniciar" class="">
                </div>
            </div>
        </form>
    </div>

</div>
<div class="footer">Hecho por Jose Chirinos <a href="https://github.com/josechirinos11">Contactame en GitHub</a>
</div>